:root {
    --roxo-time: #22016fcc;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container-grid {
    width: 80%;
    max-width: 1400px;

    margin: 0 auto;
}

header {
    height: 150px;

    padding-top: 15px;
    background-color: #22016F;
}

header .container-grid {
    height: 80%;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

header img {
    width: 350px;
}

.menu {
    width: 600px;

    display: flex;
    justify-content: space-between;
}

.menu a {
    padding-top: 15px;

    font-size: 23px;
    font-family: 'Open Sans';

    color: white;
    text-decoration: underline transparent;

    transition: text-decoration 500ms;
}

.menu a:hover {
    text-decoration: underline;
}

/* Seção inicial */

.texto-banner {
    width: 500px;
}

#inicial {
    height: 100vh;

    background-color: rgba(34, 1, 111, 0.80);
    background-image: linear-gradient(90deg, rgba(34, 1, 111, 0.8)0%, rgba(34, 1, 111, 0.8) 0%), url(img/background.svg);
    background-repeat: no-repeat;
    background-size: 752px;


}

#inicial .container-grid {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-end;



    border: none;

    font-size: 40px;
    font-family: 'Anton';

    color: white;

}

#inicial button {

    margin-top: 10px;

    border: none;
    height: 60px;
    width: 100%;
    border-radius: 20px;

    background-color: #4603DE;

    color: white;
    text-align: center;
    font-size: 30px;
    font-family: 'Anton';

    cursor: pointer;
    transition: background-color 500ms;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

#inicial button:hover {
    background-color: #2D0191;
}

/* Seção Sobre */
#sobre {
    background-color: #D8DBE2;


}

.bordas-sobre {
    border-right: solid 3px #000;
    border-left: solid 3px #000;

    height: 100%;
}

#sobre .container-grid {

    height: 720px;
    padding: 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: center;
}

h2 {
    font-size: 40px;
    font-family: 'Anton';

    text-align: center;
    letter-spacing: 3px;
}

#sobre h2 {
    padding: 30px
}

#sobre p {
    font-family: 'Open Sans';
    font-size: 25px;

    text-align: left;
    padding: 15px 30px 15px 30px;

}

#sobre .texto-resp {
    display: none;
}


/* Seção Cases */


#cases {
    background-color: var(--roxo-time);
    text-align: center;

    height: 720px;
}

#cases h2 {
    padding-top: 50px;
    color: white;
}

.container-cards {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.card {
    height: 400px;
    width: 300px;

    margin-top: 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 60px;
}

.card img {
    height: 350px;
    width: 300px;
}

.card p {
    font-family: 'Open Sans';
    font-size: 23px;

    color: white;
    text-align: left;
}

/* Seção contatos */



#contatos {
    height: 720px;
    background-color: #D8DBE2;

}

#contatos img {
    height: 500px;

}

#contatos .container-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 700px;
}

#contatos h2 {
    display: flex;
    align-items: left;
}

#contatos .contate-nos {
    height: 600px;
    width: 600px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;

    font-family: 'Open Sans';
    font-size: 23px;

    color: black;

}

.input label {
    font-family: 'Open Sans';
    font-size: 23px;

    color: black;
}

.input input {
    border-radius: 15px;
    border: #22016F solid 2px;

    font-size: 23px;
    font-family: 'Open Sans';

    height: 40px;
    width: 100%;

    text-indent: 12px;

    background-color: transparent;
    color: black;
}

#contatos button {
    margin-top: 10px;
    margin-left: 150px;

    border: none;
    height: 60px;
    width: 50%;
    border-radius: 20px;

    background-color: #4603DE;

    color: white;
    text-align: center;
    font-size: 25px;
    font-family: 'Anton';

    cursor: pointer;
    transition: background-color 500ms;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

#contatos button:hover {
    background-color: #2D0191;
}

/* Footer */

footer {
    height: 220px;

    background-color: #22016F;
}

footer .container-grid {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .redes-sociais {
    display: flex;
    justify-content: space-between;

    width: 40%;
}

footer .redes-sociais img {
    height: 80px;
}

#logo-footer {
    height: 100px;
}

@media only screen and (max-width: 1450px) {
    #inicial {
        height: 700px;


    }

    #inicial .texto-banner {
        width: 40%;
    }

    #inicial p {
        font-size: 30px;
    }

    h2 {
        font-size: 30px;
    }

    #inicial button {
        width: 400px;

        font-size: 20px;
    }

}

@media screen and (max-width:1300px) {
    #header {
        position: relative;
    }

    header {
        position: relative;
    }

    header button {
        width: 50px;

        display: unset;

        background: none;
        border: none;
    }

    header svg {
        fill: white;
    }

    nav.menu {
        height: 400px;
        width: 300px;

        padding: 0px 20px;

        flex-direction: column;
        justify-content: space-around;
        align-items: left;
        text-decoration: underline #fff;


        background-color: #22016F;
        border: solid 2px #ffffff;
        border-radius: 30px;

        position: absolute;
        top: 150px;
        right: 0px;
    }

    #inicial {
        height: 500px;
        background-size: 50%;
    }

    #cases .card {
        height: 300px;
        width: 250px;
    }

    #cases .card img {
        height: 250px;
        width: 250px;
    }

    #contatos .contate-nos {
        margin: 40px;
        width: unset;
    }


}

@media screen and (max-width:1080px) {
    #inicial {
        background-size: 45%;
        height: 450px;
    }

    #inicial p {
        font-size: 25px;
    }

    #inicial button {
        height: 35px;
        width: 100%;
        font-size: 20px;
    }

    h2 {
        font-size: 25px;
    }

    #sobre p {
        font-size: 20px;
    }

    #cases p {
        font-size: 20px;
    }

    #contatos p {
        font-size: 20px;
    }

    .input label {
        font-size: 20px;
    }

    .input input {
        height: 30px;

        font-size: 20px;
        text-indent: 10px;
    }

    #contatos button {
        height: 40px;
        width: 50%;

        font-size: 20px;

        margin-left: 80px;
    }
}

@media screen and (max-width:980px) {
    #inicial {
        background-size: cover;
    }

    #inicial .texto-banner p {
        font-size: 20px;
    }

    #inicial .container-grid {
        justify-content: unset;
    }

    #sobre .container-grid {
        width: 100%;
    }


    #cases {
        height: 1400px;
    }

    #cases .container-cards {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 70px;
    }

    #contatos img {
        height: 300px;
        width: 300px;
    }

    #logo-footer {
        width: 300px;
    }

    footer .redes-sociais img {
        height: 50px;
    }
}

@media screen and (max-width:800px) {
    #inicial {
        background-size: cover;
    }

    #inicial .container-grid {
        justify-content: unset;
    }

    #inicial .texto-banner p {
        margin: 0 auto;
        width: 350px;
        font-size: 17px
    }

    #inicial button {
        width: 350px;
    }

    #sobre .container-grid {
        width: 100%;
    }

    #sobre p {
        font-size: 18px;
    }

    #cases p {
        font-size: 18px;
    }

    #contatos .container-grid {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    #contatos p {
        font-size: 18px;
    }

    #contatos label {
        font-size: 18px;
    }

    #contatos input {
        font-size: 18px;
    }

    #contatos .img {
        width: 100vw;
    }

    #contatos .img img {
        height: 10vw;
        width: 100vw;
        object-fit: cover;

        margin-bottom: 50px;
    }

    #contatos button {
        margin-left: 100px;
    }

}

@media screen and (max-width:650px) {
    header img {
        width: 230px;
    }

    #sobre {
        height: 900px;
    }

    .bordas-sobre{
        border: none;
    }


    footer .container-grid{
        flex-direction: column;
        justify-content: unset;
    }

    footer .redes-sociais {
        margin-top: 30px;

        width: 50%;
    }

    footer .redes-sociais img {
        height: 40px;
    }
    


    #logo-footer {
        padding-top: 30px;
        width: 300px;
    }
}

@media screen and (max-width:500px) {
    h2 {
        font-size: 22px;
    }

    #inicial .texto-banner p{
        width: 250px;
    }

    #inicial .texto-banner button{
        width: 250px;

        font-size:16px;
    }

    #sobre {
        height: 600px;
    }

    #sobre .container-grid{
        padding: 45px; 
    }

    #sobre .texto-resp{
        display: unset;

        display: flex;
        text-align: left;
        padding: 15px 30px 15px 30px;

    }

    #sobre .texto-padrao {
        display: none;
    }

    #cases {
        height: 600px;
    }

    #cases .container-grid {
        width: 100%;
    }

    #cases .container-cards {
        height: 450px;

        flex-direction: row;
        flex-wrap: nowrap;
        gap: 30px;
        overflow-x: auto;
    }

    #cases .card:first-child {
        margin-left: 20px;
    }
    #cases .card:last-child {
        margin-right: 20px;
    }

    #contatos .input {
        padding-top: 20px;
    }


    footer .redes-sociais img{
        justify-content: space-between;
    }

    #contatos button {
        margin-left: 60px;
    }
}

@media screen and (max-width:395px) {

    h2 {
        font-size: 20px;
    }

    #sobre .container-grid{
        padding: 40px;
    }

    footer .redes-sociais {
        width: 70%;
    }

    #logo-footer {
        width: 250px;
    }
}

@media screen and (max-width:360px) {   


    
    #sobre {
        height: 500px;
    }
    #sobre .container-grid{
        display: unset;
    }

    #contatos .container-grid {
        display: unset;
    }

    #contatos button {
        margin-left: 60px;
    }
    #contatos {
        height: 750px;
    }

   
}